@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
#btn {
    background-color: #fb0066;
}
button {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:100);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-family: 'Roboto';
  font-weight: 100;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 2em;
  background-color: #bbb;
}
.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
  box-shadow: 0px 3px 10px 3px #aaa;
  border-right: 0.01em solid #333;
  border-bottom: 0.01em solid #333;
}
.result {
  width: 100%;
  background-color: #000;
  min-height: 2em;
  color: white;
}
.result > p {
  padding: 0 1em;
  text-align: right;
  line-height: 2em;
}
span {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 25%;
  background-color: #ccc;
  line-height: 2em;
  border-top: 0.01em solid #333;
  border-left: 0.01em solid #333;
}
.operator {
  background-color: #FF9500;
  color: white;
}
.double {
  width: 50%;
}
.grey {
  background-color: #aaa;
}
.clicked {
  background-color: darken(orange, 10%);
} */